<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <hr>
      <p><i class="fa fa-clock-o"></i> Posted on <%=@track.created_at.strftime('%B %d, %Y at %l:%M %p') %></p>
      <p><i class="fa fa-clock-o"></i> by <%=@track.user.name %></p>
      <hr>
      <p class="lead"><%= @track.body %></p>
      <hr>
      <div class="well">
        <h4>Leave a Comment:</h4>

		<%= form_for [@track, Comment.new] do |a| %>
			<div class='form-group'>
				<%= a.text_area :body, class: 'form-control', rows: 3 %>
			<br>
			 <%= a.submit class: 'btn btn-primary' %>
			</div>
		<% end %>

</div>

      <% @comments.each do |this| %>
      <hr>
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="http://placehold.it/64x64" alt="">
        </a>
        
        <div class="media-body">
          <h4 class="media-heading"><small><%=this.user.name %></small>  
            <small><%= this.created_at.strftime('%B %d, %Y at %l:%M %p')  %></small>
          </h4>
          <%= this.body %>
        </div>
      </div>
      <% end %>
     
    </div>
  </div>
</div>


