<div class="container">
  <p>
  <%= link_to 'Post a Track', new_track_path, class: 'btn btn-primary' %>
 <ul>
  <li class=<%= is_active?(toptracks_path)%>><%= link_to 'Top Tracks', toptracks_path%></li>
  <li class=<%= is_active?(randomtracks_path)%>><%= link_to 'Random Tracks', randomtracks_path %></li>
 </ul>
  </select>
  
  
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <% @tracks.each do |something| %>
        <div class="well">
          <%= something.body %>
          <br>
          <%= link_to 'Vote Up', like_track_path(something), method: :put, class: 'btn btn-warning btn-xs' %><span class="text-warning"> (<%= something.get_upvotes.size %>)</span>
          <%= link_to 'Vote Down', dislike_track_path(something), method: :put, class: 'btn btn-success btn-xs' %><span class="text-success"> (<%= something.get_downvotes.size %>)</span>
          <a href="#" class="btn btn-link btn-xs">Comments</a><small><em>(300)</em></small>
          <span class="text-muted pull-right"><small>Created by: <%=something.user.name%> on <%=something.created_at.strftime('%B %d, %Y at %l:%M %p') %></small></span>
          <br>
          <span class='text-muted pull-right'><small>Category: <%=something.category.name%></small></span>
          <br>
          <br>
        </div>
      <% end %>

    </div>

    <div class='col-md-4 col-sm-12'>
      <div class='panel panel-default'>
        <div class='panel-heading text-center'>Categories</div>
          <ul class='list-group'>
            <% Category.all.each do |raptype| %>
              <li class='list-group-item'><%= link_to raptype.name, category_path(raptype) %></li>
            <% end %>
          </ul>
      </div>
    </div>
  </div>
</div>
